
<% if(locals.messages && locals.messages.info) { %>
	<div class="alert alertWattcare alert-light" id="alertSucess" role="alert">
		<%= locals.messages.info %> 
		<button class="close closeAlert" data-dismiss="alert" aria-label="Close">
			<span id="corssCloseWattcare" aria-hidden="true">&times;</span>
		</button>
	</div>
<% } %>

<% if (locals.messages && messages.errors) { %>
	<% Object.keys(messages.errors).filter(function(key) { return ['username', 'invalidEmailOrPassword', 'internalServerError', 'invalidSize'].includes(key); }).map(function(key) { %>
		<div class="alert alertWattcare alert-light" id="alertError" role="alert">
			<div class="row">
				<div class="col-1">
					<img id="" src="./image/ALERTE.png" alt=""/>
				</div>
				<div class="col-10">
					<%= messages.errors[key] %>
				</div>
				<div class="col-1">
					<button class="close closeAlert" data-dismiss="alert" aria-label="Close">
						<span id="corssCloseWattcare" aria-hidden="true">&times;</span>
					</button>
				</div>
			</div>
		</div>
	<% }) %>
<% } %>

