<!-- Modal -->
<div class="modal fade modalWattcare" id="modalDysfonctionnementWattcare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
		<form action="/dysfonctionnement" method="POST">
			<div class="modal-content wc_modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel"><strong>Signaler un dysfonctionnement</strong></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" id="corssCloseWattcare">&times;</span>
				</button>
				</div>
				<div class="modal-body">
					<div class="form-check" id="formCheckWattcare">
						<input class="form-check-input" type="radio" name="flexRadioDefault" value="pasDeChuteDetecte" id="flexRadioDefault1" checked onclick="desablePrecision()">
						<label class="form-check-label" for="flexRadioDefault1">
							Pas de chute constatée
						</label>
					</div>
					<div class="form-check" id="formCheckWattcare">
						<input class="form-check-input" type="radio" name="flexRadioDefault" value="alertesIntempestives" id="flexRadioDefault2" onclick="desablePrecision()">
						<label class="form-check-label" for="flexRadioDefault2">
							Alertes intempestives
						</label>
					</div>
					<div class="form-check" id="formCheckWattcare">
						<input class="form-check-input" type="radio" name="flexRadioDefault" value="chuteNonDetecte" id="flexRadioDefault3" onclick="desablePrecision()">
						<label class="form-check-label" for="flexRadioDefault3">
							La chute n'a pas été détecté
						</label>
					</div>
					<div class="form-check" id="formCheckWattcare">
						<input class="form-check-input" type="radio" name="flexRadioDefault" value="autre" id="flexRadioDefault4" onclick="enablePrecision()">
						<label class="form-check-label" for="flexRadioDefault4">
							Autre, préciser:
						</label>
					</div>
					<div>
						<textarea rows="5" class="form-control"  name="autreInfo" id="autreDysfonctionnement" aria-describedby="textHelp" disabled="true" onKeyUp="tailleMax(this, 100)"></textarea>
						<div id="textHelp" class="form-text">Saisir 100 caractères maximum.<br>Disponible: 100</div>
					</div>
				</div>
				<div class="modal-footer alert">
					<button type="button" id="formAnnulerWattcare" data-toggle="modal" data-target="#modalDysfonctionnementWattcare">ANNULER</button>
					<input name="ID" id="sendModalWattcare" style="display:none" value="">
					<button type="submit" id="formEnvoyerWattcare" data-toggle="modal" data-target="#modalDysfonctionnementWattcare">ENVOYER</button>
				</div>
			</div>
		</form>
    </div>
</div>