<div id="content">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link userWattcare iconWattcare" data-toggle="modal" data-target="#modalUnavailableWattcare" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link settingsWattcare iconWattcare" data-toggle="modal" data-target="#modalUnavailableWattcare" href="#"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout" id="deconnexion"><img src="./image/DECONNEXION.png" alt="" id="decoImg"/>DECONNEXION</a>
    </li>
  </ul>
</div>