<div id="content">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><img src="./image/ID_FOND_BLEU.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><img src="./image/REGLAGE_FOND_BLEU.png" alt=""/></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/authentication" id="deconnexion"><img src="./image/DECONNEXION.png" alt="" id="decoImg"/>DECONNEXION</a>
    </li>
  </ul>
</div>