<!-- Sidebar -->
<nav id="sidebar">
	<div class="sidebar-header">
		<img src="./image/LOGO_WATTCARE_BLANC.png" id="WATTCARE_BLANC" alt=""/>
		<br>
		<img src="./image/ID_FOND_VERT.png" id="ID_VERT" alt=""/>
		<p class="sidebarHeaderWattcare"><%= user.nickname %><br><%= organisation.name %></p>
	</div>
	
	<!-- <hr class="hrSidebarWattcare"> -->

	<ul class="list-unstyled components" id="sidebarItem">
		<li>
			<a href="#" id="sideBarLinkDashboard">
				TABLEAU DE BORD
			</a>
		</li>
		<li>
			<a href="#" data-toggle="modal" data-target="#modalUnavailableWattcare" id="sideBarLinkSettings">
				RÉGLAGES
			</a>
		</li>
		<li>
			<a href="#" data-toggle="modal" data-target="#modalUnavailableWattcare" id="sideBarLinkAdd">
				AJOUTER UN CAPTEUR
			</a>
		</li>
	</ul>
</nav>