<!-- Modal -->
<div class="modal fade modalWattcare" id="modalUnavailableWattcare" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
		<div class="modal-content wc_modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel"><strong>OOPS ! &nbsp;&nbsp; - &nbsp;&nbsp;DEAD LINK</strong></h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true" id="corssCloseWattcare">&times;</span>
			</button>
			</div>
			<div class="modal-body  unavailableBodyWattcare">
				<img id="unavailableImgWattcare" style="display:inline" src="./image/DEAD_LINK_MOUSE.png" alt=""/>
				<img class="margeTop" id="unavailableImgWattcare" style="display:inline" src="./image/PRESS_START.png" alt=""/>
			</div>
			<h6>Cette fonctionnalité arrive bientôt...</h6>
			<div class="modal-footer alert">
				<button type="submit" id="formEnvoyerWattcare" data-toggle="modal" data-target="#modalUnavailableWattcare">START</button>
			</div>
		</div>
    </div>
</div>