@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap);
body {
	font-family: 'Open Sans', sans-serif;
    background: #F0f0f0;
}
p {
    font-size: 1em;
    font-weight: 300;
    line-height: 0.3em;
    color: #FFF;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    /* transition: all 0.3s; */
}
button{
	border-radius: 30px 30px 30px 30px;
	font-size: 0.8em;
	margin: 1em;
	height: 30px;
	border: none;
}
.close{
    position: absolute;
    right: 10px;
    background: none;
    border-style: none;
    float: right;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
	justify-content: space-between;
}
#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #0535AF;
    color: #fff;
    /* transition: all 0.3s; */
	height: 100vh;
	border-radius: 0 0 150px 0px;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #0535AF;
}
#sidebar .sidebar-header #WATTCARE_BLANC{
	width: 150px;
	height: 25px;
}
#sidebar .sidebar-header #ID_VERT{
	margin-top: 80px;
	width: 40px;
	height: 40px;
}
#sidebar hr{
	height: 0.25px;
	background-color: #2BD987;
}
#sidebar ul.components {
    padding: 20px 0; /* décalage vertical */
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sideBarLinkDashboard{
    background-image: url('../image/TABLEAU_BORD_VERT.png');
}
#sidebar ul li a#sideBarLinkDashboard:hover, #sidebar ul li a#sideBarLinkDashboard:focus{
    background-image: url('../image/TABLEAU_BORD_BLANC.png');
}
#sideBarLinkSettings{
    background-image: url('../image/REGLAGE_VERT.png');
}
#sidebar ul li a#sideBarLinkSettings:hover,  #sidebar ul li a#sideBarLinkSettings:focus{
    background-image: url('../image/REGLAGE_BLANC.png');
}
#sideBarLinkAdd{
    background-image: url('../image/AJOUTER_CAPTEUR_VERT.png');
}
#sidebar ul li a#sideBarLinkAdd:hover, #sidebar ul li a#sideBarLinkAdd:focus{
    background-image: url('../image/AJOUTER_CAPTEUR_BLANC.png');
}
#sidebar ul li a:hover, #sidebar ul li a:focus {
    color: #FFF;
    background: #2BD987;
	border-radius: 30px 0 0 30px;
}
#sidebar ul li a, #sidebar ul li a:hover, #sidebar ul li a:focus {
    background-position: 25px 15px;
    background-repeat: no-repeat;
	background-size: 18px 18px;
    text-indent: 40px;
    padding: 15px;
    font-size: 0.7em;
    display: block;
}
/* ---------------------------------------------------
    CONTENT NAVBAR STYLE
----------------------------------------------------- */
#content {
	position: absolute;
	top: 20px;
	right: 20px;
}
.nav-item{
    margin-left: 20px;
}
.iconWattcare{
    width: 35px;
	height: 35px;
    background-repeat: no-repeat;
	background-size: 35px 35px;
    display: block;
    border-radius: 30px 30px 30px 30px;
}
.userWattcare{
    background-image: url('../image/ID_FOND_BLEU.png');
}
.settingsWattcare{
    background-image: url('../image/REGLAGE_FOND_BLEU.png');
}
#content #decoImg{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
#content .nav-item #deconnexion{	
    height: 35px;
	color: #FFF;
    background: #2BD987;
	border-radius: 30px 30px 30px 30px;
	font-size: 0.6em;
}
/* ---------------------------------------------------
    CONTENT TABLE STYLE
----------------------------------------------------- */
.centre{
	text-align: center;
}
#submitGauche{
	background: #2BD987;
	color: #FFF;
    float: right;
    margin-right: 7%;
}
#submitDroite{
	color: #0535AF;
    float: left;
    margin-left: 7%;
}
.fresh-table form{
    width: 50%;
}
.fresh-table #gauche{
    float:left;
}
.fresh-table #droite{
    overflow:auto;
}
.fresh-table{
	margin-top: 18vh;
	margin-left: 10%;
    box-shadow: -15px 27px 69px rgba(0,0,0,.20);
	background-color: #F0f0f0;
	border-radius: 50px 50px 0 0;
    padding-bottom: 15px;
}
.card-body{
    text-align: left;
    margin-left: 8%;
}
#fresh-table{
    color: #0535AF !important;
}
#ID{
   text-align: end;
}
#status {
    width: 100px;
}
.fresh-table img{
	width: 20px;
	height: 20px;
}
.fresh-table .true {
    background-color: #0535AF;
    color: #FFF;
}

.fresh-table .truestatus{
    color: #2BD987;
    font-weight: bold;
}
/* ---------------------------------------------------
    ALERTS
----------------------------------------------------- */
#alertError{
    background-image: url('../image/ALERTE.png');
}
#alertSucess{
    background-image: url('../image/CHECK.png');
}
.alertWattcare{
    position: absolute;
    width: 470px;
    top: 3vh;
    left: 250px;
    color: #0535AF;
    background-repeat: no-repeat;
	background-size: 18px 18px;
    background-position: 25px 18px;
    text-indent: 40px;
    display: block;
    border-radius: 30px 30px 30px 30px;
}
.closeAlert{
    top: -3%;
}
#corssCloseWattcare{
    color: #0535AF;
    font-size: 1.7em;
}
/* #connexionServer{
    display:none;
    display:inherit;
} */
/* #dysfonctionnement{
    display:none;
    display:inherit;
} */
/* ---------------------------------------------------
    DYSFONCTIONNEMENT
----------------------------------------------------- */
#modalDysfonctionnementWattcare{
    font-family: 'Open Sans', sans-serif;
    /* font-size: 1em; */
    /* font-weight: 300; */
    /* line-height: 0.3em; */
    color:#0535AF;
}

.modal-footer button{
    width: 100px;
}
#formAnnulerWattcare {
    color: #0535AF;
    /* float: left; */
    /* margin-left: 7%; */
}
#formEnvoyerWattcare {
    background: #2BD987;
	color: #FFF;
    /* float: right; */
    /* margin-right: 7%; */
}
#formCheckWattcare, #autreDysfonctionnement{
    margin-top: 3vh;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.copyRight{
    position: relative;
    width: 100%;
    bottom: 3vh;
    text-align: center;
    color: #0535AF;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
 @media (max-width: 768px) {
	 
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}