@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap);
html {
    height: 100%;
}
body {
    min-height: 100%;
	font-family: 'Open Sans', sans-serif;
    background: #F0f0f0;
    font-size: 0.9em;
    overflow: hidden;
}
p {
    font-size: 1em;
    font-weight: 300;
    /* line-height: 0.3em; */
    color: #FFF;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    /* transition: all 0.3s; */
}
button{
	border-radius: 30px 30px 30px 30px;
	font-size: 0.9em;
    font-weight: 600;
	margin: 1em;
	height: 37px;
	border: none;
}
hr{
    margin: 0;
    opacity: 1;
	height: 1px !important;
	background-color: #2BD987;
}
.close{
    position: absolute;
    right: 10px;
    background: none;
    border-style: none;
    float: right;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* .hrSidebarWattcare{
    margin-top: 2vh;
    margin-bottom: 3vh;
} */

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
	justify-content: space-between;
}
.sidebarHeaderWattcare{
    margin-top: 2vh;
    margin-left: 15px;
}
#sidebar {
    min-width: 230px;
    max-width: 230px;
    background: #0535AF;
    color: #fff;
    /* transition: all 0.3s; */
	height: 100vh;
	border-radius: 0 0 150px 0px;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 15px;
    background: #0535AF;
    font-size: 1.5em;
}
#sidebar .sidebar-header #WATTCARE_BLANC{
	width: 170px;
	height: auto;
    margin-left: 15px;
}
#sidebar .sidebar-header #ID_VERT{
	margin-top: 10vh;
	width: 45px;
	height: auto;
    margin-left: 15px;
}
#sidebar ul.components {
    padding: 20px 0; /* décalage vertical */
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sideBarLinkDashboard{
    background-image: url('../image/TABLEAU_BORD_VERT.png');
}
#sidebar ul li a#sideBarLinkDashboard:hover, #sidebar ul li a#sideBarLinkDashboard:focus{
    background-image: url('../image/TABLEAU_BORD_BLANC.png');
}
#sideBarLinkSettings{
    background-image: url('../image/REGLAGE_VERT.png');
}
#sidebar ul li a#sideBarLinkSettings:hover,  #sidebar ul li a#sideBarLinkSettings:focus{
    background-image: url('../image/REGLAGE_BLANC.png');
}
#sideBarLinkAdd{
    background-image: url('../image/AJOUTER_CAPTEUR_VERT.png');
}
#sidebar ul li a#sideBarLinkAdd:hover, #sidebar ul li a#sideBarLinkAdd:focus{
    background-image: url('../image/AJOUTER_CAPTEUR_BLANC.png');
}
#sidebar ul li a:hover, #sidebar ul li a:focus {
    color: #FFF;
    background: #2BD987;
	border-radius: 30px 0 0 30px;
}
#sidebar ul li a, #sidebar ul li a:hover, #sidebar ul li a:focus {
    background-position: 18px 10px;
    background-repeat: no-repeat;
	background-size: 19px 19px;
    text-indent: 40px;
    font-size: 0.9em;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
    margin-left: 15px;
}
/* ---------------------------------------------------
    CONTENT NAVBAR STYLE
----------------------------------------------------- */
#content {
	position: absolute;
	top: 20px;
	right: 20px;
}
.nav-item{
    margin-left: 20px;
}
.iconWattcare{
    width: 35px;
	height: 35px;
    background-repeat: no-repeat;
	background-size: 35px 35px;
    display: block;
    border-radius: 30px 30px 30px 30px;
}
.userWattcare{
    background-image: url('../image/ID_FOND_BLEU.png');
}
.settingsWattcare{
    background-image: url('../image/REGLAGE_FOND_BLEU.png');
}
.deconnexionWattcare{
    background-image: url('../image/DECONNEXION.png');
}
#content #decoImg{
	width: 24px;
	height: auto;
    margin-top: -4px;
	margin-right: 10px;
    margin-left: -6px;
}
#content .nav-item #deconnexion{	
    height: 37px;
	color: #FFF;
    background: #2BD987;
	border-radius: 30px 30px 30px 30px;
	/* font-size: 0.9em; */
    /* font-weight: bold; */
}
/* ---------------------------------------------------
    CONTENT TABLE STYLE
----------------------------------------------------- */
.card-body{
    text-align: left;
    margin-left: 8%;
    font-size: 1.1em;
}
#collapseNoAlertWattcare{
    background-color: #ececec;
}
.mainRowWattcare{
    cursor: pointer;
}
.tableWattcare{
    color: #0535AF !important;
	margin-top: 18vh;
    box-shadow: -15px 27px 69px rgba(0,0,0,.20);
	background-color: #F0f0f0;
	border-radius: 50px 50px 0 0;
    margin-bottom: 5vh;
    padding-bottom: 3vh;
    text-align: center;
    font-size: 1.1em;
    overflow-y: auto;
    overflow-x:hidden;
    height:70vh;
    /* margin-top: 5vh; */
}
.collapseBodyWattcare{
    padding-top: 2vh;
    padding-bottom: 2vh;
    /* margin-bottom: 2vh; */
}
.tableWattcare .col-3{
    padding-top: 2vh;
    margin-bottom: 2vh;
}
.tableHeadWattcare{
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 2vh;
    margin-bottom: 2vh;
}
.hrBlueWattcare{
    margin: 0;
    opacity: 1;
	height: 1px !important;
	background-color: #0535AF;
}
.tableWattcare img{
	width: 24px;
	height: 24px;
}
.tableWattcare .true {
    background-color: #0535AF;
    color: #FFF;
}
.tableWattcare .truestatus{
    color: #2BD987;
    font-weight: bold;
}
.tableWattcare button{
    width: 290px;
}
#submitGauche{
	background: #2BD987;
	color: #FFF;
}
#submitDroite{
	color: #0535AF;
}
#submitDysfonctionnement{
    background: #0535AF;
    color: #FFF;
    /* font-size: 0.8em; */
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
} 
.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}

/* ---------------------------------------------------
    ALERTS
----------------------------------------------------- */
#alertError{
    background-image: url('../image/ALERTE.png');
}
#alertSucess{
    background-image: url('../image/CHECK.png');
}
.alertWattcare{
    position: absolute;
    width: 470px;
    top: 3vh;
    left: 250px;
    color: #0535AF;
    background-repeat: no-repeat;
	background-size: 18px 18px;
    background-position: 25px 18px;
    text-indent: 40px;
    display: block;
    border-radius: 30px 30px 30px 30px;
}
.closeAlert{
    top: -3%;
}
#corssCloseWattcare{
    color: #0535AF;
    font-size: 1.7em;
}
/* #connexionServer{
    display:none;
    display:inherit;
} */
/* #dysfonctionnement{
    display:none;
    display:inherit;
} */
/* ---------------------------------------------------
    DYSFONCTIONNEMENT
----------------------------------------------------- */
.modalWattcare{
    font-family: 'Open Sans', sans-serif;
    color:#0535AF;
    /* font-size: 1em; */
    /* font-weight: 300; */
    /* line-height: 0.3em; */
}

.modal-footer button{
    width: 100px;
}
#formAnnulerWattcare {
    color: #0535AF;
    /* float: left; */
    /* margin-left: 7%; */
}
#formEnvoyerWattcare {
    background: #2BD987;
	color: #FFF;
    /* float: right; */
    /* margin-right: 7%; */
}
#formCheckWattcare, #autreDysfonctionnement{
    margin-top: 3vh;
}

/* ---------------------------------------------------
    UNAVAILABLE
----------------------------------------------------- */
.unavailableBodyWattcare{
    text-align: center;
    /* background-color: #000; */
}

#unavailableImgWattcare {
	max-width: 70%;
	height: auto;
}
.margeTop{
    margin-top: 6vh;
}

h6{
    text-align: center;
}

input[type=submit]:hover {
    background-color: white;
    color: #53af57;
}

/* ---------------------------------------------------
    FOOTER
----------------------------------------------------- */
.copyRight{
    position: relative;
    bottom: 6vh;
    text-align: center;
    color: #0535AF;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
	 
    #sidebar {
        margin-left: -230px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
@media (max-height: 605px) {
    #sidebar{
        border-radius: 0px !important;
    }
}