@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
	justify-content: space-between;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: url('../image/FOND_CONNECT.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container{
    width:400px;
    margin:0 auto;
    margin-top:25vh;
}

/* Bordered form */
form {
    width:100%;
    padding: 30px;
    background: #0535AFBF;
	/* border-radius: 0 0 0 50px; */
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */
}

.container h1{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
	font-size: 1.5em;
	color: #fff;
}


input[type=text], input[type=password] {
    width: 90%;
	/* height: 20px; */
    padding: 8px;
    margin: 10px 5%;
    display: inline-block;
    border: none;
	border-radius: 30px 30px 30px 30px;
    box-sizing: border-box;
	background-color: #FFFFFF33;
	color: #2BD987;
	text-indent: 10px;
}

input[type=text]::placeholder{
	background-image: url('../image/ID_VERT.png');
}

input[type=password]::placeholder{
	background-image: url('../image/MDP_VERT.png');
}

input[type=text]::placeholder, input[type=password]::placeholder {
    background-position: 10px 2px;
    background-repeat: no-repeat;
	background-size: 15px 15px;
    text-indent: 40px;
	color: #2BD987;
}
/* Set a style for all buttons */
input[type=submit] {
    background-color: #2BD987;
	border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 8px;
    margin: 15% 16.5%;
    border: none;
    cursor: pointer;
    width: 67%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    /* border: 1px solid #53af57; */
}

#img1 {
	height: 40px;
	width: 250px;
	position: absolute;
	top: 50px;
	left: 50px;
}
	
